# python
*.pyc
*-checkpoint.ipynb
.ipynb_checkpoints/*
*.npz

# ROS
*.bag

# tensorflow intermediate files
*.v2

# pytorch intermediate files
checkpoints/

# tensorboard
tensorboard/

# mac
.DS_Store

# multi-media
*.png
*.txt
