# python
*.pyc
*-checkpoint.ipynb
.ipynb_checkpoints/*

# ROS
*.bag

# tensorflow intermediate files
*.v2

# pytorch intermediate files
*.pth

# tensorboard
tensorboard/

# mac
.DS_Store

# multi-media
# *.png